Repository woowa-techcamp-2022/web-moneybook-04, pull requests merged in 2022-07, with the labels that each got.

#4 Feature/2/webpack
  bin/www.js
  package-lock.json
  package.json
  src/backend/app.js
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
Labels: frontend, backend, feature

#6 Feat/5/mysql2
  .gitignore
  bin/www.js
  package-lock.json
  package.json
  src/backend/app.js
  src/backend/config/db.js
  src/backend/controllers/transaction.js
  src/backend/routes/index.js
  src/backend/routes/transaction.js
  src/backend/services/transaction.js
Labels: backend, feature

#9 Feat/8/css variables
  public/index.html
  src/frontend/index.js
  src/frontend/styles/color.scss
  src/frontend/styles/style.scss
  src/frontend/styles/text-style.scss
  src/frontend/styles/typography.scss
Labels: frontend, feature, style

#10 Feat/7/core component
  src/frontend/components/App.js
  src/frontend/core/component.js
  src/frontend/core/observer.js
  src/frontend/index.js
Labels: frontend, feature, pair

#15 Feat/13/svg inline loader
  package-lock.json
  package.json
  src/frontend/assets/calendar.svg
  src/frontend/assets/chart.svg
  src/frontend/assets/check.svg
  src/frontend/assets/file-text.svg
  src/frontend/assets/plus.svg
  webpack.config.js
Labels: frontend, feature, style, pair

#18 Feat/16/transaction-item
  src/frontend/components/TransactionItem/TransactionItem.js
  src/frontend/components/TransactionItem/transactionItem.scss
  src/frontend/core/component.js
  src/frontend/styles/color.scss
  src/frontend/styles/style.scss
  src/frontend/utils/constants.js
  src/frontend/utils/stringUtil.js
Labels: frontend, feature, style, refactor

#19 Feat/17/history api
  src/backend/app.js
  src/frontend/components/App.js
  src/frontend/components/Header/Header.js
  src/frontend/pages/ErrorPage.js
  src/frontend/utils/constants.js
Labels: frontend, feature

#22 refactor : 컴포넌트 호출 방식 수정
  src/frontend/core/component.js
  src/frontend/index.js
Labels: frontend, feature, refactor

#23 Fix/21/Component Architecture
  src/frontend/components/App.js
  src/frontend/components/TransactionItem/TransactionItem.js
  src/frontend/core/component.js
  src/frontend/index.js
Labels: bug, frontend, feature

#24 Feat/11/Transaction-List
  src/backend/app.js
  src/frontend/assets/checkbox-active.svg
  src/frontend/assets/checkbox-default.svg
  src/frontend/components/App.js
  src/frontend/components/DateTransactionList/DateTransactionList.js
  src/frontend/components/DateTransactionList/dateTransactionList.scss
  src/frontend/components/TransactionItem/transactionItem.scss
  src/frontend/components/TransactionList/TransactionList.js
  src/frontend/components/TransactionList/transactionList.scss
  src/frontend/pages/MainPage/MainPage.js
  src/frontend/pages/MainPage/mainPage.scss
  src/frontend/stores/transactionStore.js
  src/frontend/styles/checkbox.scss
  src/frontend/styles/color.scss
  src/frontend/utils/priceUtil.js
  webpack.config.js
  webpack.dev.js
Labels: frontend, feature, style

#42 Feat/20/header UI
  src/frontend/assets/left-arrow.svg
  src/frontend/assets/right-arrow.svg
  src/frontend/components/App.js
  src/frontend/components/Header/Header.js
  src/frontend/components/Header/header.scss
  src/frontend/pages/CalendarPage.js
  src/frontend/pages/ChartPage.js
  src/frontend/pages/ErrorPage.js
  src/frontend/utils/constants.js
Labels: frontend, feature, style

#45 Feat/41/header
  src/frontend/components/Header/Header.js
  src/frontend/components/Header/header.scss
  src/frontend/stores/dateStore.js
Labels: frontend, feature, refactor

#46 Feat/35/doughnut chart
  src/frontend/components/App.js
  src/frontend/components/DoughnutChart/DoughnutChart.js
  src/frontend/components/DoughnutChart/doughnutChart.scss
  src/frontend/pages/ChartPage.js
  src/frontend/pages/ChartPage/ChartPage.js
  src/frontend/pages/ChartPage/chartPage.scss
  src/frontend/styles/style.scss
  src/frontend/utils/stringUtil.js
Labels: frontend, feature, style

#48 Feat/25/zihorm
  package-lock.json
  package.json
  src/backend/app.js
  src/backend/config/db.js
  src/backend/controllers/transaction.js
  src/backend/controllers/transactionHistory.js
  src/backend/models/payment.js
  src/backend/models/transactionHistory.js
  src/backend/routes/transaction.js
  src/backend/routes/transactionHistory.js
  src/backend/services/transaction.js
  src/backend/services/transactionHistory.js
Labels: backend, feature, refactor

#49 Feat/34/calendar
  src/frontend/components/App.js
  src/frontend/components/DateTransactionList/DateTransactionList.js
  src/frontend/components/TransactionList/TransactionList.js
  src/frontend/pages/CalendarPage.js
  src/frontend/pages/CalendarPage/CalendarPage.js
  src/frontend/pages/CalendarPage/calendarPage.scss
  src/frontend/stores/transactionStore.js
  src/frontend/utils/calendar.js
  src/frontend/utils/constants.js
  src/frontend/utils/priceUtil.js
  src/frontend/utils/transactionUtil.js
Labels: frontend, feature, style

#51 Feat/50/fetcher
  src/frontend/utils/fetcher.js
Labels: frontend, feature

#55 Feat/44/category api
  src/backend/controllers/transactionHistory.js
  src/backend/routes/transactionHistory.js
  src/backend/services/transactionHistory.js
Labels: backend, feature

#56 Feat/54/doughnut-server-api
  src/frontend/api/transactionHistory.js
  src/frontend/components/App.js
  src/frontend/components/DoughnutChart/DoughnutChart.js
  src/frontend/components/DoughnutChart/doughnutChart.scss
  src/frontend/pages/ChartPage/ChartPage.js
  src/frontend/stores/chartStore.js
Labels: frontend, feature, style

#57 Feat/47/category-expense-list-api
  src/backend/controllers/transactionHistory.js
  src/backend/routes/transactionHistory.js
  src/backend/services/transactionHistory.js
  src/frontend/pages/ChartPage/ChartPage.js
Labels: backend, feature

#58 Feat/29/category-data-six-month
  src/backend/controllers/transactionHistory.js
  src/backend/routes/transactionHistory.js
  src/backend/services/transactionHistory.js
  src/backend/utils/dateUtil.js
Labels: backend, feature

#59 Feat/32/payment bar UI
  src/frontend/assets/minus.svg
  src/frontend/assets/plus.svg
  src/frontend/assets/removeIcon.svg
  src/frontend/components/CategoryDropdown/CategoryDropdown.js
  src/frontend/components/CategoryDropdown/categorydropdown.scss
  src/frontend/components/Header/header.scss
  src/frontend/components/PaymentBar/PaymentBar.js
  src/frontend/components/PaymentBar/paymentbar.scss
  src/frontend/components/PaymentDropdown/PaymentDropdown.js
  src/frontend/components/PaymentDropdown/paymentdropdown.scss
  src/frontend/components/TransactionList/transactionList.scss
  src/frontend/pages/MainPage/MainPage.js
  src/frontend/styles/varibles.scss
  src/frontend/utils/constants.js
Labels: frontend, feature, style

#61 refactor : URL에 따른 페이지 생성 로직 개선
  src/frontend/components/App.js
Labels: frontend, refactor

#63 Feat/62/category transaction list
  src/frontend/components/App.js
  src/frontend/components/DateTransactionList/DateTransactionList.js
  src/frontend/components/Header/Header.js
  src/frontend/components/TransactionList/TransactionList.js
  src/frontend/pages/ChartPage/ChartPage.js
  src/frontend/pages/ChartPage/chartPage.scss
  src/frontend/stores/chartStore.js
Labels: frontend, feature

#65 Feat/36/line chart
  src/backend/services/transactionHistory.js
  src/backend/utils/dateUtil.js
  src/frontend/api/transactionHistory.js
  src/frontend/components/DoughnutChart/DoughnutChart.js
  src/frontend/components/LineChart/LineChart.js
  src/frontend/components/LineChart/lineChart.scss
  src/frontend/pages/ChartPage/ChartPage.js
  src/frontend/stores/chartStore.js
Labels: frontend, feature, style

#67 Feat/33/payment modal
  public/index.html
  src/frontend/components/Modal/AddPaymentModal.js
  src/frontend/components/Modal/RemovePaymentModal.js
  src/frontend/components/Modal/modal.scss
  src/frontend/components/Modal/paymentModal.scss
  src/frontend/components/PaymentBar/paymentbar.scss
  src/frontend/utils/modal.js
Labels: frontend, feature, style

#69 Fix/68/calendar-october
  src/frontend/pages/CalendarPage/CalendarPage.js
  src/frontend/utils/stringUtil.js
Labels: bug, frontend

#70 Fix/53/price comma
  src/frontend/components/TransactionList/TransactionList.js
Labels: bug, frontend

#71 Feat/31/add payment api
  src/backend/app.js
  src/backend/controllers/payment.js
  src/backend/routes/payment.js
  src/backend/services/payment.js
Labels: backend, feature

#75 Docs/66/readme
  README.md
Labels: documentation, style

#76 Feat/37/create payment submit
  src/frontend/components/CategoryDropdown/CategoryDropdown.js
  src/frontend/components/PaymentBar/PaymentBar.js
  src/frontend/components/PaymentBar/paymentbar.scss
  src/frontend/components/PaymentDropdown/PaymentDropdown.js
  src/frontend/stores/dateStore.js
  src/frontend/utils/stringUtil.js
Labels: frontend, feature

#78 feat : 결제내역 리스트 정렬
  src/frontend/api/transactionHistory.js
  src/frontend/utils/transactionUtil.js
Labels: frontend, feature, refactor

#80 Feat/79/canvas Enhancement
  src/frontend/components/LineChart/LineChart.js
  src/frontend/components/LineChart/lineChart.scss
Labels: bug, frontend, feature

#82 Feat/40/create payment
  src/frontend/api/payment.js
  src/frontend/assets/row-arrow.svg
  src/frontend/components/Modal/AddPaymentModal.js
  src/frontend/components/PaymentBar/PaymentBar.js
  src/frontend/components/PaymentBar/paymentbar.scss
  src/frontend/components/PaymentDropdown/PaymentDropdown.js
Labels: frontend, feature

#83 Feat/81/loading
  src/frontend/components/Modal/LoadingModal.js
  src/frontend/components/Modal/loadingModal.scss
  src/frontend/utils/fetcher.js
  src/frontend/utils/modal.js
Labels: frontend, feature, style

#84 Feat/39/delete payment
  src/frontend/api/payment.js
  src/frontend/components/PaymentDropdown/PaymentDropdown.js
  src/frontend/utils/fetcher.js
Labels: frontend, feature

#85 Feat/26/transaction update api
  package-lock.json
  package.json
  src/backend/controllers/transactionHistory.js
  src/backend/routes/transactionHistory.js
  src/backend/services/transactionHistory.js
Labels: backend, feature

#88 Feat/38/transaction update modal
  src/backend/services/transactionHistory.js
  src/frontend/api/transactionHistory.js
  src/frontend/components/CategoryDropdown/CategoryDropdown.js
  src/frontend/components/CategoryDropdown/categorydropdown.scss
  src/frontend/components/DateTransactionList/DateTransactionList.js
  src/frontend/components/Modal/RemovePaymentModal.js
  src/frontend/components/Modal/UpdateTransactionModal.js
  src/frontend/components/Modal/modal.scss
  src/frontend/components/Modal/paymentModal.scss
  src/frontend/components/Modal/updateTransactionModal.scss
  src/frontend/components/PaymentDropdown/PaymentDropdown.js
  src/frontend/components/TransactionItem/TransactionItem.js
  src/frontend/components/TransactionItem/transactionItem.scss
  src/frontend/components/TransactionList/TransactionList.js
  src/frontend/utils/stringUtil.js
Labels: frontend, backend, feature, style

#90 Feat/89/FAB BUTTON
  src/frontend/assets/chevron-top.svg
  src/frontend/components/FABButton/FABButton.js
  src/frontend/components/FABButton/fabButton.scss
  src/frontend/pages/MainPage/MainPage.js
Labels: frontend, feature, style

#97 Fix/86/observer
  src/frontend/components/TransactionList/TransactionList.js
  src/frontend/core/observer.js
  src/frontend/pages/CalendarPage/CalendarPage.js
  src/frontend/pages/ChartPage/ChartPage.js
Labels: bug, frontend

#98 Feat/96/transaction optimistic
  src/frontend/api/transactionHistory.js
  src/frontend/components/PaymentBar/PaymentBar.js
Labels: frontend, feature

#101 Fix/99/dropdown
  public/favicon.ico
  public/index.html
  src/backend/app.js
  src/frontend/components/Modal/UpdateTransactionModal.js
  src/frontend/components/PaymentBar/PaymentBar.js
  src/frontend/components/PaymentBar/paymentbar.scss
  webpack.config.js
Labels: frontend, backend, feature
